*{
    background-color: black;
    color: black;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif ;
}
header{
    text-align: center;
    }
footer{
    background-color: darkgray;
    color: white;
    }
h1{
    background-color: darkgray;
    font-size: 4em;
}
nav{
    background-color: darkgray;
    word-spacing: 2rem;
    font-size: 2em;

}
link{
    background-color: darkgray;
    
}
img{
    max-width: 200vh;
    max-height: 50vh;
    image-orientation: center;
}
h2{
    color: white;
}
p{
    color:white 
}
strong{
    color: white;
}
em{
    color: white;
}
h4{
    color: black;
    background-color: darkgray;
}
a{
    color: black;
    background-color: darkgray;
}
li{
    color: black;
    background-color: orange;
}